<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Posts</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Abel&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <div class="header">
        <h1 id="page-title">📚 BlogCoaster Tycoon</h1>
        <div class="social-buttons">
            <a href="https://www.linkedin.com/in/joschua-schr%C3%B6der-69960b263/" target="_blank">
                <button class="social-btn"><i class="fab fa-linkedin"></i></button>
            </a>
            <a href="https://www.facebook.com/joschua.schroder" target="_blank">
                <button class="social-btn"><i class="fab fa-facebook-f"></i></button>
            </a>
        </div>
    </div>
    <div class="image-background"></div>
    <div class="container">
        <div class="control-field">
            <div class="input-field">
                <input type="text" id="api-base-url" placeholder="Enter API Base URL" value="http://127.0.0.1:5002/api">
                <button onclick="loadPosts()">Load Posts</button>
                <button id="openAddPostModal">Add Post</button>
            </div>
        </div>
        <div id="post-container">
            <!-- Blog posts will be inserted here by JavaScript -->
        </div>
    </div>
    <div id="addPostModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <div class="input-field">
                <input type="text" id="post-title" placeholder="Enter Post Title">
                <input type="text" id="post-content" placeholder="Enter Post Content">
                <input type="text" id="post-author" placeholder="Enter Post Author">
                <button onclick="addPost()">Submit Post</button>
            </div>
        </div>
    </div>
    <script src="static/main.js"></script>
</body>
</html>
